body {
	font-family: sans-serif;
	font-size: 18px;
	line-height: 1.5;
    background: #444;
}

article {
    max-width: 780px;
    margin: 0 auto;
	border: 5px solid #777;
	padding: 50px;
	color: #EEE;
}

a {
	font-weight: bold;
	color: #00CC99;
}

time {
	color: #BBB;
}

strong {
	color: #FFF;
}

h1 {
	font-family: Georgia, serif;
	font-weight: normal;
	text-align: center;
	color: #FFF;
	font-style: italic;
	margin-top: 0;
}

h2 {
	color: #FFF;
}

h3 {
	font-size: 18px;
	color: #BBB;
	text-transform: uppercase;
	letter-spacing: 2px;
	margin-top: 42px;
}

h4 {
	font-weight: normal;
	margin-bottom: 0;
}

p {
	font-family: Georgia, serif;
	margin-top: 0;
	margin-bottom: 27px;
}

ul {
	list-style: square;
}

ul p {
	color: #BBB;
}

hr {
	border: none;
	border-top: 1px solid #999;
	margin: 30px 0;
}

img {
	float: right;
	margin-left: 20px;
	margin-bottom: 20px;
	border: 1px solid #999;
	padding: 5px;
}

nav {
	color: #999;
	text-align: center;
}